<!DOCTYPE html>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>-->
<html>
<head>
<title>ZIMA</title>
<style>
* {
border: none;
font-family: sans-serif;
font-size: 16px;
}
.bigbold{
font-size: 18px;
font-weight: bold;
}
table {
width:90%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
margin:1em;
border-collapse:collapse;
}
td {
color:#678197;
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
padding:.3em 1em;
text-align:center;
}
tr.odd td {
background:#f4f9fe;
}
tr.even td {
background:#fff;
}
.nocenter {
text-align: left;
}
</style>
</head>
<body>
Under construction  : )
</body>
</html>







